.my-text-to-emoji {
	font-size: 18px;
	font-weight: bold;
}



/*.my-beautiful-extension a {
	color: green;
	background-color: red;
	transform: scale(3); 
}

.my-beautiful-extension h3 span {
	transform: scale(3); 
}*/


/*._97aPb {

	width: 50%;
}

.eLAPa {

    
    transform: scale(0.5);
    transform-origin: top left;
    background-color: #fff;
    display: block;
    width: 100%;

}

.KL4Bh {

    padding-bottom: 100%;
    transform: scale(0.45);
    transform-origin: top left;
    margin: 10px;

}

.OAXCp {

    padding-bottom: 100%;
    transform: scale(0.45);
    transform-origin: top left;
    margin: 10px;

}

.eo2As {

	width: 50%;
}

article header{
	background-color: white;
	width: 50%; 
}*/